@charset "utf-8";
/* CSS Document */
header
{ display: block; }

body {  text-align: center; }
#cabecera {background: #F5F189; text-align: center; color: #3E0049; font: normal; font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif"}
